.container {
  padding: 5% 0;
  background-color: #fbfbfb;
}

.title {
  margin: 0;
  padding: 0 0 2% 0;
}

.card-container {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin: auto;
}

/* This container is needed to position the front and back side */
.card {
  position: relative;
  border: 1px solid #300;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: all 0.4s ease-in-out;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.card-toggle {
  transform: rotateY(180deg);
}

.rotation-btn {
  background: none;
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 5%;
  padding-top: 5%;
}

/* Position the front and back side */
.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: rgba(255, 251, 251, 1);
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

/* Style the front side (fallback if image is missing) */
.front {
  background-color: rgba(255, 251, 251, 1);
  /* color: black; */
}

/* Style the back side */
.back {
  background-color: rgba(255, 251, 251, 1);
  transform: rotateY(180deg);
}

.eng{
  color: #333;
  font-size: 1.3em;
  padding-top: 40%;
}

.han{
  color: #333;
  font-size: 2.3em;
  padding-top: 25%;
  cursor: pointer;
}

.pin{
  color: rgba(200, 10, 10, 1);
  font-size: 1.3em;
  padding-top: 10%;
}

button.del {
  background: none;
  border: none;
  font-size: 10pt;
  float: right;
  padding-right: 5%;
  padding-top: 5%;
}

/* Div add tag toggler */

.add-card-toggler-on { 
  display: block;
  padding: 100px;
}

.add-card-toggler-off { 
  display: none;
}

/* Styles for div cards done */

.cards-done {
  margin: 20px auto auto auto;
  font-size: 20pt;
  position: relative;
  top: 50px;
  padding: 10px 0 50px 0;
}