.search-container {
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  height: 450px;
  position: relative;
  top: 60px;
}

.card-search-container {
  height: 200px;
  width: 200px;
  position: relative;
  margin: 2px auto;
  display: flex;
}

.search-card {
  height: 200px;
  width: 200px;
  position: absolute;
  background-color: rgba(255, 251, 251, 1);
  border: 1px solid #300;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
}

.eng-search{
  color: #333;
  font-size: 1.3em;
  padding-top: 15%;
}

.han-search{
  color: #333;
  font-size: 1.3em;
  padding-top: 10%;
  cursor: pointer;
}

.pin-search{
  color: rgba(200, 10, 10, 1);
  font-size: 1.3em;
  padding-top: 10%;
}

button.del {
  background: none;
  border: none;
  font-size: 10pt;
  float: right;
  padding-right: 5%;
  padding-top: 5%;
}

.search-box {
  display: flex;
  margin: 1em auto 1em auto;
  width: 800px;
  border: 1px solid #300;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  top: 50px;
}